.maincontainer{
    height: 100%;
    width: 100%;
    background-color:#9D6C3C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("https://source.unsplash.com/random/900x700/?pink");
    background-size: container;
    
}
.subcontainer{

    width: 820px;
    height: 520px;
//    animation: fadeIn 1s 1s;
//    animation-fill-mode:backwards;
    margin-top:30px ;
    margin-bottom:10px ;
    justify-content: center;
    align-items: center;
  
}
.certificatecontainer{
    width: 100%;
    height: 100%;
    padding: 10px;
    animation: fadeIn 9s 0.1s;
    animation-fill-mode:backwards;
    border-radius: 30px;
    border-width: 5px;
    border-style:solid;
    border-color:  #a35011;
    background-color:#A35011;
  opacity: 0.85;
}

.imgbox{
    margin-top: 0%;
    margin-left:5% ;
    height: 80%;
    width: 90%;
}
.certificatetitle{
font-size: 34px;
font-style:oblique;
font-weight: 500;
text-align: center;
text-decoration: underline;
text-decoration-color:whitesmoke;
color:white;
font-family:Georgia, 'Times New Roman', Times, serif;

}