.mprac{
  display: flex;
flex-direction: row;
}


.m1{
  margin-top: 50px;
  height: auto;
  width: auto;

  }
  
  .m2{
    margin-top: 50px;
    height: auto;
    width: auto;

    }
  
    .m3{
        margin-top: 50px;
        height: auto;
        width: auto;

        }
  
        .m4{
            margin-top: 50px;
            height: auto;
            width: auto;

            }
  
            .m5{
                margin-top: 50px;
                height: auto;
                width: auto;

                }
  
                .m6{
                    margin-top: 50px;
                    height: auto;
                    width: auto;

                    }
                    


                    .seprator{
                        height: 100px;
                        width:auto;
                      background-image: url("https://source.unsplash.com/random/900x700/?grey");
   }